<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.madeinlk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Firstpage"
            android:label="Welcome to Lianke">
            <intent-filter>
                <action android:name="firstpage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".firstmenu.AboutusActivity">
        </activity>
        <activity android:name=".firstmenu.JoinusActivity">
        </activity>
        <activity
            android:name=".Jobs.jijiagong"
            android:label="机加工中心招聘岗位">
        </activity>
        <activity
            android:name=".Jobs.zhusu"
            android:label="注塑事业部招聘岗位">
        </activity>
        <activity
            android:name=".Jobs.xvmu"
            android:label="畜牧事业部招聘岗位">
        </activity>
        <activity
            android:name=".Jobs.zidonghua"
            android:label="自动化事业部招聘岗位">
        </activity>
        <activity android:name=".xvmu.MainActivity">
        </activity>
        <activity android:name=".xvmu.Controlselect">
        </activity>
    </application>

</manifest>